.ongoing {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    margin-bottom: 45px;
    height: 232px;
    //test color
    background-color: rgb(220, 225, 221);

    .ongoing-movie {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        img {
            width: 133px;
            height: 188px;
        }

        p:first-of-type {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 133px;
            cursor: pointer;
            color: #176093;
        }

        p:nth-child(3) {
            font-size: 11px;
        }
    }
}
