.АНИМЕ {
    .section--header {
        background-color: #fedddf;
        h1 {
            color: #fc575e;
        }
        .vertical-delimiter {
            background-color: #fec2c5;
        }
        .arrow {
            position: absolute;
            right: 10px;
            top: 11px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #fc575e;
        }
    }

    .section--body {
        .hashtag {
            background-color: #feedeb;
            border: 1px solid #fee4e1;
            p {
                color: #fb414a;
            }
        }
    }
}

.МАНГА {
    .section--header {
        background-color: #daf1ff;
        h1 {
            color: #4bf;
        }
        .vertical-delimiter {
            background-color: #bce6ff;
        }
        .arrow {
            position: absolute;
            right: 10px;
            top: 11px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #4bf;
        }
    }
    .section--body {
        .hashtag {
            background-color: #ebfafe;
            border: 1px solid #e1f8fe;
            p {
                color: #66c5e5;
            }
        }
    }
}

.РАНОБЕ {
    .section--header {
        background-color: #e7f6da;
        h1 {
            color: #74d61f;
        }
        .vertical-delimiter {
            background-color: #d7efc3;
        }
        .arrow {
            position: absolute;
            right: 10px;
            top: 11px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #74d61f;
        }
    }
    .section--body {
        .hashtag {
            background-color: #f2feeb;
            border: 1px solid #defdce;
            p {
                color: #6bc41c;
            }
        }
    }
}

.hashtags-section {
    .section--header {
        position: relative;
        margin-bottom: 10px;
        .vertical-delimiter {
            position: absolute;
            height: 100%;
            width: 2%;
        }

        h1 {
            padding: 6px 20px;
            font-size: 18px;
        }
    }
    .section--body {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        .hashtag {
            display: inline-block; /* или display: inline-flex; */
            white-space: nowrap;
            padding: 5px 12px;
            // flex-grow: 1;
            // box-sizing: border-box;
            margin: 5px 5px;
            width: fit-content;
            border-radius: 3px;
        }
    }
}
