.hashtags {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 45px;
    height: 232px;
    background-color: rgb(220, 225, 221);

    .hashtag {
        // background-color: red;
        width: calc(33% - 30px);

        .hashtag--header {
            padding: 10px 10px;
            display: flexbox;
            background-color: aqua;
        }

        .hashtag--body {
            background-color: blue;
        }
    }
}
